.card {
  border-radius: var(--radius);
  padding: 5px;
}

.tableHeading {
  padding: 10px;
}

.cardContent {
  color: var(--text-primary-color);
}

.padding5 {
  padding: 5px;
}

.noPadding {
  padding: 0px;
}

.noPadding:last-child {
  padding: 0px;
}
