@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Extra+Condensed:ital,wght@0,400;0,500;0,700;1,300;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@400;500;600;700&display=swap');
:root {
  --primary-color: #454ade;
  --secondary-color: #1b1f3b;
  --accent-color: #db4c40;

  --text-primary-color: #fefcfb;
  --text-secondary-color: #3abeff;

  --background-color: #c2ded1;
  --radius: 10px;

  --point: #007aff;
  --up: #00d69a;
  --up-2: #113f3d;
  --up-3: #cdf7eb;
  --down-error: #fc4848;
  --down-error-2: #43232d;
  --down-error-3: #ffdbdb;
  --background: #0054dc;
  --background-2: #121620;
  --background-3: #141a26;
  --background-4: #40507e;
  --background-5: #cae3ff;
  --background-6: #f4f9fd;
  --background-7: #ffffff;
  --heading: #1a1a1a;
  --subtitle: #1a1a1a;
  --subtitle-2: #2a3440;
  --body: #1a1a1a;
  --body-2: #2a3440;
  --body-3: #364254;
  --body-4: #5e7488;
  --body-5: #a4aeb8;
  --body-6: #ced5db;
  --body-7: #ffffff;
  --sub: #ce8dff;
  --sub-1: #3c2850;
  --sub-2: #f8eeff;
  --sub-3: #7ed0ff;
  --sub-4: #106090;
  --sub-5: #f8eeff;
  --sub-6: #ffffff;
  --font: 'Cabin Condensed', sans-serif;
  --font-1: 'Fira Sans Extra Condensed', sans-serif;
  --font-2: 'Caveat', cursive;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-2);
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-main {
  background-color: red;
}

.noPaddingTopBottom {
  padding-top: 0px;
  padding-bottom: 0px;
}

.debug {
  border: 1 solid red;
}

table {
  border-collapse: separate !important;
}

table tr:last-child th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table tr:last-child th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

th {
  line-height: normal !important;
}

pre {
  margin: 0px;
}

.container {
  margin-top: 5px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding10 {
  padding: 10px;
}

.MuiLoadingButton-loadingIndicator {
  color: inherit !important;
}