:root {
  --primary-color: #454ade;
  --secondary-color: #1b1f3b;
  --accent-color: #db4c40;

  --text-primary-color: #fefcfb;
  --text-secondary-color: #3ABEFF;

  --background-color: #C2DED1;
  --radius: 10px;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.input-main {
  background-color: red;
}

.noPaddingTopBottom {
  padding-top: 0px;
  padding-bottom: 0px;
}

.debug {
  border: 1 solid red;
}

table {
  border-collapse: separate !important;
}

table tr:last-child th:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table tr:last-child th:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px; 
}

pre {
  margin: 0px;
}